//
// File Crypt Source
//
// Copyright (c) 2020-2021 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "file-crypt-version.hpp"
#include "file-crypt-copyright.hpp"

1  ICON "file-crypt.ico"

XYO_APPLICATION_VERSION_INFO(FILE_CRYPT,"file-crypt.exe","File Crypt Source")
